body{
    margin: 0;
    color: white;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    height: 80px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.img1{
    margin-left: 50px;
    height: 100px;
    width: 100px;
}

a{
    margin-right: 50px;
    color: white;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

button{
    color: #181818;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    margin-right: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 15px;
    margin-top: -10px;
}

button:hover{
    background-color: #BEBEBE;
}

.hiddenDropdown{
    display: none;
}

li{
    margin-top: 10px;
    margin-bottom: 5px;
    list-style: none;
    gap: 10px;
}

ul{
    position: fixed;
    margin-left: -40px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}













