*{
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

#speelveld-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#speelveld{
    margin-top: 10px;
}






