*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

#speelveld-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes





